.pl-15 {
    padding-left: 15px;
}
.avatar {
    width: 100px;
}
.img__wrap {
    position: relative;
    width: 100px;
}
.img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(36, 62, 206, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  .img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
  }
  .img__description {
    transition: .2s;
    transform: translateY(1em);
  }
  
  .img__wrap:hover .img__description {
    transform: translateY(0);
  }
  .h-36 {
    height: 36px;
  }
  .info-block {
    height: 32px;
    line-height: 32px;
  }
  .line-height-inital {
    line-height: initial;
  }
  @media (max-width: 767px) {
    .below-md-col {
      text-align: center;
    }
    .img__wrap {
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .user-data {
      margin-left: auto !important;
      margin-right: auto !important;
      width: auto !important;
      text-align: justify;
    }
  }
  @media (max-width: 575px) {
    .action-buttons-block {
      button {
        width: 100% !important;
        margin-right: 0 !important;
        &:first-child {
          margin-bottom: 0.5rem;
        }
      }
    }
  }