.news-block {
    height: 400px;
    margin-top: 5px;
}
.news-block-photo {
    max-width: 100%;
    width: 100%;
    height: 350px;
}
.news-block-title {
    color: #222;
    font-size: 18px;
    font-weight: 500;
    display: block;
    &:hover {
        color: #000;
    }
}
.news-button-container {
    position: absolute;
    top: 5px;
    right: 20px;
}
.modal-button {
    width: 100px;
}
@media (max-width: 576px) {
    .news-block {
        height: 300px;
    }
    .news-block-photo {
        height: 250px;
    }
}
