.header {
    background-color: transparent;
    display: flex;
}
.ul {
    margin-top: 1em !important;
    margin-bottom: 0 !important;
    li {
        display: inline-block;
        padding-left: 8px;
        a {
            text-decoration: none;
            color: #ebe4e1;
            :hover {
                text-decoration: none;
                color: #c7c4c3;
            }
        }
    }
}
.login-logout {
    text-decoration: none;
    color: #ebe4e1;
}
.login {
    display: block;
}
.login-logout:hover {
    text-decoration: none;
    color: #c7c4c3 !important;
}
.header-mt {
    margin-top: 1em;
}
.navbar-toggle-button {
    display: inline-block;
}
.dropdown-menu-ul {
    li,a {
        display: block;
        color: #ebe4e1;
        text-decoration: none;
    }
}
@media (min-width: 768px) {
    .navbar-toggle-button {
        display: none;
    }
}
@media (max-width: 767px) {
    .navbar-hide {
        display: none;
    }
}
@media (max-width: 1300px) {
    .navbar-header-margin {
        margin-right: 0.25rem !important;
    }
}
