// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    padding: 0;
  }
  .content-width {
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
  .main {
    border-radius: 6px;
    background-color: #ebe4e1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .mt {
    margin-top: 1rem;
  }
  
  body {
    background-color: #000;
  }
  .bg-none {
    background: none !important;
  }
  .border-none {
    border: none !important;
  }
