.main {
    border-radius: 6px;
    background-color: #ebe4e1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.title {
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 25px;
    padding-top: 5px;
}
.author {
    padding: 25px;
    padding-top: 5px;
}
.content {
    padding-left: 25px;
    padding-right: 25px;
}
.edit-button {
    cursor: pointer;
    margin-left: 0.5rem;
}
.title-input {
    width: 100%;
    margin: 10px 25px;
}
.edit-content-button {
    width: 200px;
    margin-left: 10px;
}
.container {
    background-color: #eef2f5;
    width: 400px
}
.second {
    width: 100%;
    background-color: white;
    border-radius: 4px;
}
.text1 {
    font-size: 13px;
    font-weight: 500;
    color: #56575b
}

.text2 {
    font-size: 13px;
    font-weight: 500;
    margin-left: 6px;
    color: #56575b
}
.save-button {
    width: 90px;
}
@media (max-width: 575px) {
    .action-buttons button{
        width: 100%;
    }
    .action-buttons button:first-child{
        margin-right: 0 !important;
        margin-bottom: 0.5rem !important;
    }
}