.main {
    border-radius: 6px;
    color: white;
    background-color: #ebe4e1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.no-content {
    width: 100%;
    text-align: center;
    h2 {
        color: #000;
    }
}
.main-margin {
    margin: 1rem auto;
}